@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    color: white;
    font-family: lexend;
    font-weight: 200;
}

body {
    height: 100;
    background-image: url(./images/bg.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-position: top;
    background-size: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

#logo {
    >img {
        height: 40px;
        border: 1px solid white;
        border-radius: 100%;
        padding: 30px;
    }

    text-align: center;
    margin-top: 100px;

}