@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    color: white;
    font-family: lexend;
    font-weight: 200;
}

body {
    height: 100;
    background-image: url(./images/bg.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: top;
    background-size: auto;
    height: 800px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

#logo {
    >img {
        height: 40px;
        border: 1px solid white;
        border-radius: 100%;
        padding: 30px;
    }

    text-align: center;
    margin-top: 100px;
}

#verLine {
    border: 1px solid white;
    rotate: 90deg;
    margin-top: 15px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

#horLine {
    border: 1px solid white;
    margin-top: 20px;
}

#verLine2 {
    border: 1px solid white;
    rotate: 90deg;
    margin-top: 20px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

#landingTabs {
    margin: 20px;
    display: grid;
    grid-template-rows: repeat(4, 50px);


    >div {
        text-align: center;
        border: 1px solid white;
        border-radius: 3px;
    }
}

p {
    padding-left: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 8px;

    a:hover {
        color: blue;
    }
}